.row-header{
	margin: 0px auto;
	padding: 0px auto;
}
.row-content{
	margin: 0px auto;
	padding: 50px 0px;
	border-bottom: 1px ridge;
}
.story {
	letter-spacing: 1px;
}
.story_head, .people_head, .map_head, .feedback_head {
	display: inline-block;
	padding: 0 10px;
	border-bottom: 2px solid #6c757d;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.story_text {
	color: #343a40;
}
@media only screen and (max-width: 576px) {
	#map iframe {
		width: 250px;
		height: 300px;
	}
}
.fact_glance {
	background-image: url('../img/serving-pixabay-1.jpg');
    background-position: center;
    background-size: cover;
    height: 500px;
}
.fact_glance .card{
	background-color: rgba(255,255,255, 0.8);
}
.people .card-header h3 {
	letter-spacing: 1px;
}
.people .card-body p {
	letter-spacing: 1px;
	color: #343a40;
}